src/main/resources/contract/query/FLUXMDRQueryMessage_5p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Trimmed schema FLUXMDRQueryMessage_5p0.xsd -->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:un:unece:uncefact:data:standard:FLUXMDRQueryMessage:5" version="5.0" 
xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:20" xmlns:rsm="urn:un:unece:uncefact:data:standard:FLUXMDRQueryMessage:5" 
xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:20" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:20" schemaLocation="UnqualifiedDataType_20p0-Query.xsd" />
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:20" schemaLocation="ReusableAggregateBusinessInformationEntity_20p0-Query.xsd" />
  <xsd:element name="FLUXMDRQueryMessage" type="rsm:FLUXMDRQueryMessageType" />
  <xsd:complexType name="FLUXMDRQueryMessageType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="MDRQuery" type="ram:MDRQueryType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
